.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;

  > router-outlet {
    display: none;
  }

  > *:not(router-outlet) {
    flex: 1;
    display: flex;
  }
}
