<div class="constantes">

  <h2>Constantes</h2>

  <h3> Constantes de espacio desde la estructura</h3>

  <div class="form-row">
    <div class="form-group">
      <label for="distanciaTecho">Distancia al techo <br> (mm)</label>
      <input
        id="distanciaTecho"
        type="number"
        [(ngModel)]="estudio.constantes.distanciaTecho"
        placeholder="50"
      />
    </div>

    <div class="form-group">
      <label for="distanciaSuelo">Distancia al suelo <br> (mm)</label>
      <input
        id="distanciaSuelo"
        type="number"
        [(ngModel)]="estudio.constantes.distanciaSuelo"
        placeholder="64"
      />
    </div>

    <div class="form-group">
      <label for="distanciaFondo">Distancia al fondo <br> (mm)</label>
      <input
        id="distanciaFondo"
        type="number"
        [(ngModel)]="estudio.constantes.distanciaFondo"
        placeholder="70"
      />
    </div>

    <div class="form-group">
      <label for="distanciaEsquinaConPared">Distancia a la esquina con pared (mm)</label>
      <input
        id="distanciaEsquinaConPared"
        type="number"
        [(ngModel)]="estudio.constantes.distanciaEsquinaConPared"
        placeholder="40"
      />
    </div>

    <div class="form-group">
      <label for="distanciaEsquinaSinPared">Distancia a la esquina sin pared (mm)</label>
      <input
        id="distanciaEsquinaSinPared"
        type="number"
        [(ngModel)]="estudio.constantes.distanciaEsquinaSinPared"
        placeholder="19"
      />
    </div>
  </div>

  <h3>Constantes de las tablas</h3>

  <div class="form-row">
    <div class="form-group">
      <label for="grosorTabla">Grosor tabla (mm)</label>
      <input
        id="grosorTabla"
        type="number"
        [(ngModel)]="estudio.constantes.grosorTabla"
        placeholder="19"
      />
    </div>

    <div class="form-group">
      <label for="grosorTablaTrasera">Grosor tabla trasera (mm)</label>
      <input
        id="grosorTablaTrasera"
        type="number"
        [(ngModel)]="estudio.constantes.grosorTablaTrasera"
        placeholder="10"
      />
    </div>
  </div>

  <h3>Constantes de las puertas</h3>

  <div class="form-row">
    <div class="form-group">
      <label for="holguraPuertaEsquina">Holgura puertas en esquinas (mm)</label>
      <input
        id="holguraPuertaEsquina"
        type="number"
        [(ngModel)]="estudio.constantes.holguraPuertaEsquina"
        placeholder="3"
      />
    </div>

    <div class="form-group">
      <label for="holguraPuertaContigua">Holgura entre puertas contiguas (mm)</label>
      <input
        id="holguraPuertaContigua"
        type="number"
        [(ngModel)]="estudio.constantes.holguraPuertaContigua"
        placeholder="3"
      />
    </div>

    <div class="form-group">
      <label for="anchuraMaximaPuerta">Anchura máxima de puerta (mm)</label>
      <input
        id="anchuraMaximaPuerta"
        type="number"
        [(ngModel)]="estudio.constantes.anchuraMaximaPuerta"
        placeholder="530"
      />
    </div>

    <div class="form-group">
      <label for="anchuraMinimaPuerta">Anchura mínima de puerta (mm)</label>
      <input
        id="anchuraMinimaPuerta"
        type="number"
        [(ngModel)]="estudio.constantes.anchuraMinimaPuerta"
        placeholder="265"
      />
    </div>

    <div class="form-group">
      <label for="grosorPuerta">Grosor de la puerta <br> (mm)</label>
      <input
        id="grosorPuerta"
        type="number"
        [(ngModel)]="estudio.constantes.grosorPuerta"
        placeholder="19"
      />
    </div>
  </div>

  <h3>Constantes de baldas</h3>

  <div class="form-row">
    <div class="form-group">
      <label for="difProfBaldaModulo">Diferencia de profundidad entre balda y módulo (mm)</label>
      <input
        id="difProfBaldaModulo"
        type="number"
        [(ngModel)]="estudio.constantes.diferenciaProfundidadBaldaModulo"
        placeholder="1"
      />
    </div>

    <div class="form-group">
      <label for="difProfBaldaVH">Diferencia de profundidad entre balda vertical y horizontal (mm)</label>
      <input
        id="difProfBaldaVH"
        type="number"
        [(ngModel)]="estudio.constantes.diferenciaProfundidadBaldaVerticalHorizontal"
        placeholder="1"
      />
    </div>
  </div>
</div>