<nav class="app-sidebar">
  <ul>
    <li>
      <a routerLink="/estudio/estructura" routerLinkActive="active">
        Estudio
      </a>
    </li>
    <li>
      <a routerLink="/estudio/parametros" routerLinkActive="active">
        Constantes
      </a>
    </li>
    <li>
      <a routerLink="/estudio/exportar" routerLinkActive="active">
        Exportar estudio
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <a routerLink="/" class="volver">← Volver al inicio</a>
  </div>
</nav>
